@charset "euc-jp";

/* ****************************************************************************
 * ログアウト（標準モード）用
 * **************************************************************************** */

/*---- ヒントメッセージ ----*/
.messageBox01{
padding:9px 10px 10px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:#fffbe8;
}

.messageBox01--hint{
padding-left:32px;
background:#fffbe8 url(/img/basic/icon/question001.gif) no-repeat 10px 10px;
}

.messageBox01__heading{
display:none;
}

.messageBox01__lead{
margin-left:0.5em;
}


/*---- #bodyMainArea.loginError/再ログインフォーム ----*/
#bodyArea.loginError div.messageArea{ 
margin-bottom:30px; 
}
 
#bodyArea.loginError div.messageArea div.contents dl.messageForm01{ 
border-top:none; 
}
 
#bodyArea.loginError div.contents dl.messageForm01 dt, 
#bodyArea.loginError div.contents dl.messageForm01 dd{ 
border-top:1px solid #F6A838; 
}

#bodyArea.loginError div.contents dl.messageForm01 dd input{
width:204px;
}

#bodyArea.loginError .loginViaOther{
padding:20px 0 0;
border:none;
background-image:none;
text-align:center;
}

#bodyArea.loginError .loginViaOther h3{
margin-bottom:15px;
}

#bodyArea.loginError .loginViaOther p{
padding:0;
}

#bodyArea.loginError .loginViaOther .extra01{
margin-top:20px;
font-size:83%;
}

#bodyArea .useByOther{
padding:10px 0 20px;
border:none;
background-image:none;
text-align:center;
}

#bodyArea .useByOther .heading{
text-align:left;
}

#bodyArea .useByOther .submitButton{
margin:0;
padding:0;
border:none;
}

#bodyArea .stopSynchronize{
padding:20px 0 0;
border:none;
background-image:none;
text-align:center;
}

#bodyArea .stopSynchronize .extra01{
margin-top:5px;
font-size:83%;
}


/*---- #bodyArea.remindPassword/パスワード再設定画面（確認メール送信） ----*/
/*---- #bodyArea.resetPassword/パスワード再設定画面（確認メールから遷移） ----*/
#bodyArea.remindPassword div#bodyMainArea,
#bodyArea.resetPassword div#bodyMainArea{
width:716px;
padding:0 0 15px;
}

#bodyArea.remindPassword span.supplement01{
margin-bottom:15px;
display:block;
}

#bodyArea.remindPassword #editList01.connective01{
margin-top:10px;
}

#bodyArea.remindPassword #editList01 div.heading02{
clear:both;
width:690px;
height:22px;
line-height:21px;
padding:2px 5px 0 21px;
}

#bodyArea.remindPassword #editList01 ul.editContents,
#bodyArea.resetPassword #editList01 ul.editContents{
background-position:-500px 0%;
background-image:url(/img/basic/common/bg_edit_list002.gif);
}

#bodyArea.remindPassword #editList01 ul.editContents li dl dt,
#bodyArea.resetPassword #editList01 ul.editContents li dl dt{
width:180px;
}

#bodyArea.remindPassword #editList01 ul.editContents li dl dd,
#bodyArea.resetPassword #editList01 ul.editContents li dl dd{
width:494px;
}

#bodyArea.remindPassword input#email,
#bodyArea.resetPassword input#password1,
#bodyArea.resetPassword input#password2{
width:196px;
}

#bodyArea.remindPassword ul.showPhotoList{
border:1px solid #FBB14E;
text-align:center;
}

#bodyArea.remindPassword ul.showPhotoList li{
display:inline-block;
*display:inline;
zoom:1;
margin:10px 25px;
}

#bodyArea.remindPassword ul.showPhotoList li .profilePhoto{
display:block;
width:190px;
height:190px;
border:1px solid #DDD;
background:no-repeat 50% 50%;
text-indent:-9999px;
}

#bodyArea.remindPassword ul.showPhotoList li p{
width:192px;
margin-top:5px;
}

#bodyArea.remindPassword ul.showPhotoList li p input{
margin-right:5px;
}

#bodyArea.remindPassword #editList01 ul.editContents li dl dd .editNote{
margin-top:5px;
color:#666;
font-size:83%;
}

#bodyArea.remindPassword #editList01 ul.editContents li dl dd .reload{
margin-top:5px;
}

#bodyArea.remindPassword #editList01 ul.editContents li dl dd .listNickName li{
margin-bottom:3px;
}

#bodyArea.remindPassword #editList01 ul.editContents li dl dd .listNickName li input,
#bodyArea.remindPassword #editList01 ul.editContents li dl dd .listNickName li label{
vertical-align:middle;
}

#bodyArea.remindPassword div.messageArea div.contents div p .mailAddress{
padding-left:15px;
}

#bodyArea.remindPassword .pageNavigation01.top{
}

#bodyArea.remindPassword .pageNavigation01.bottom{
border-bottom:1px solid #FBB14E;
}

#bodyArea.remindPassword .messageBox01{
margin-top:10px;
}

/*---- 通知メッセージ ----*/
/*---- 共通コンポーネント div.noticeArea を踏襲（カラバリ＝classic） ----*/
.LOGOUT_STANDARD_noticeArea{
margin:0 0 10px;
padding:0 0 4px;
background:url(/img/basic/common/bg_alert_bottom001.gif) left bottom no-repeat;
}

.LOGOUT_STANDARD_noticeArea_contents{
padding:10px 40px 16px;
background:url(/img/basic/common/bg_alert_top001.gif) no-repeat;
}

.LOGOUT_STANDARD_noticeArea_notice{
min-height:28px;
padding:10px 0px 7px 50px;
background:url(/img/basic/icon/alertIcon002.gif) no-repeat;
font-weight:bold;
}

.LOGOUT_STANDARD_noticeArea_notes{
width:518px;
padding:8px 0px 8px 48px;
}


/*---- #page.loginPage 幅100%レイアウトに変更 ----*/
#page.loginPage{
width:100%;
background:none;
}

#page.loginPage #headerArea,
#page.loginPage #footerArea{
margin-right:auto;
margin-left:auto;
padding-top:20px;
}

#page.loginPage #footerArea{
width:100%;
border-top:1px solid #e6e6e6;
}

#page.loginPage #footerArea .adImpactFooter,
#page.loginPage #footerArea .footerMain{
margin-right:auto;
margin-left:auto;
}

#page.loginPage #footerArea .footerNavigation01{
background:none;
}


/*---- .LOGIN_form ----*/
.LOGIN_form{
margin-top:10px;
border-top:1px solid #e6e6e6;
}

.LOGIN_form__inner{
width:450px;
margin:0 auto 80px;
}

.LOGIN_form__title{
margin:35px 0;
text-align:center;
font-size:250%;
}

.LOGIN_form__inputTextBlock{
margin-bottom:15px;
}

.LOGIN_form__inputText{
width:100%;
height:40px;
padding:0;
background:transparent;
border:solid 1px #CCC;
-o-border-radius:4px;
-ms-border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
line-height:40px;
max-width:448px;
text-indent:15px;
font-size:150%;
}

.LOGIN_form__inputText:focus{
outline:solid 1px #cfa34c;
}

.LOGIN_form__inputText.filled{
background-color:#fff;
}

.LOGIN_form__inputBlock{
padding-left:10px;
margin-bottom:10px;
}

.LOGIN_form__inputCheckBox{
margin-right:8px;
}

.LOGIN_form__inputLabel{
font-size:116%;
}

.LOGIN_form__inputLabel02{
display:block;
}

.LOGIN_form__inputLabelFace{
display:block;
color:#666;
font-size:100%;
}

.LOGIN_form__textBlock{
padding-left:10px;
margin-bottom:20px;
}

.LOGIN_form__buttonBlock{
margin-bottom:20px;
}

.LOGIN_form__button{
display:block;
width:100%;
line-height:50px;
font-size:150%;
text-align:center;
-o-border-radius:4px;
-ms-border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:none;
padding:0;
text-decoration:none;
cursor:pointer;
}

.LOGIN_form__button--gold,
.LOGIN_form__button--gold:link,
.LOGIN_form__button--gold:visited{
background-color:#CFA34C;
color:#FFF;
}

.LOGIN_form__button--twitter,
.LOGIN_form__button--twitter:link,
.LOGIN_form__button--twitter:visited{
background:url(/img/basic/icon/twitter009.png) no-repeat 20px center #55ACEE;
color:#FFF;
text-indent:20px;
}

.LOGIN_form__button--google,
.LOGIN_form__button--google:link,
.LOGIN_form__button--google:visited{
background:url(/img/basic/icon/google001.png) no-repeat 20px center #FFF;
border:solid 1px #CCC;
color:#666;
line-height:48px;
text-indent:20px;
}

.LOGIN_form__button--orange,
.LOGIN_form__button--orange:link,
.LOGIN_form__button--orange:visited{
background-color:#E67E22;
color:#FFF;
}

.LOGIN_form__button--gray,
.LOGIN_form__button--gray:link,
.LOGIN_form__button--gray:visited{
background-color:#CCC;
color:#333;
}

.LOGIN_form__buttonSmallText{
font-size:86%;
}

.LOGIN_form__orText{
text-align:center;
margin-bottom:20px;
font-size:116%;
color:#666;
}

.LOGIN_form__bottomArea{
padding-top:20px;
border-top:solid 1px #CCC;
}

.LOGIN_form__linkTextBlock{
font-size:116%;
color:#666;
}

.LOGIN_form__linkTextBlock--right{
text-align:right;
}

.LOGIN_form__linkText{
text-decoration:none;
font-size:116%;
}

.LOGIN_form__linkText--ssl{
text-decoration:none;
font-size:100%;
}

.LOGIN_form__note{
color:#999;
}

.LOGIN_form__errorPanel{
border:solid 2px #FECA2F;
font-size:133%;
font-weight:bold;
color:#666;
margin-top:40px;
padding:15px 15px 15px 50px;
background:url(/img/basic/icon/alert006.png) no-repeat 15px 15px #FFF5D3;
}

.LOGIN_form__statusPanel{
border:solid 2px #CCC;
padding:15px 25px;
margin-bottom:20px;
-o-border-radius:4px;
-ms-border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.LOGIN_form__caption{
font-size:150%;
margin-bottom:10px;
}

.LOGIN_form__account{
padding:5px 0 5px 35px;
margin-bottom:10px;
font-size:133%;
font-weight:bold;
}

.LOGIN_form__account--twitter{
background:url(/img/basic/icon/twitter011.png) no-repeat 0 center;
}

.LOGIN_form__account--google{
background:url(/img/basic/icon/google001.png) no-repeat 0 center;
}

.LOGIN_form__statusNote{
font-size:116%;
color:#666;
}


/*---- .LOGIN_hotWord ----*/
.LOGIN_hotWord{
text-align:center;
font-size:86%;
margin-bottom:30px;
}

.LOGIN_hotWord__title{
display:inline-block;
*display:inline;
*zoom:1;
color:#666;
margin:0 4px;
}

.LOGIN_hotWord__item{
display:inline-block;
*display:inline;
*zoom:1;
margin:0 4px;
}

.LOGIN_hotWord__link,
.LOGIN_hotWord__link:link,
.LOGIN_hotWord__link:visited{
color:#999;
}
