<!DOCTYPE html>
<!-- Processed by pywebarchive -->
<html xmlns="http://www.w3.org/1999/xhtml"><head id="Head1"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"><meta name="apple-mobile-webapp-capable" content="yes"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>
	UN SPOT 利用方法
</title><link href="UN_files/bootstrap.min.css" rel="stylesheet"><link href="UN_files/bootstrap-theme.min.css" rel="stylesheet"><link href="UN_files/bootstrap-customize.css" rel="stylesheet"><link href="UN_files/main.min.css" rel="stylesheet"><link href="UN_files/site.min.css" rel="stylesheet">

    <style>
        .navlink {
        display:block;
        }
        .Brandimg {
        max-height:100%;
        }
    </style>

<link href="UN_files/uspot.jp.css" rel="stylesheet" type="text/css"><link rel="SHORTCUT ICON" href="https://www.uspot.jp/img/oem/124/124.ico"><link rel="apple-touch-icon" href="https://www.uspot.jp/img/oem/124/u124_114.gif"><meta name="robots" content="noindex"><meta name="description" content="インターネット利用料無料,こちらは無料WIFIスポットです。簡単な登録だけですぐにご利用頂けます。"><meta name="keywords" content="インターネット,無料WIFIスポット,WIFI,無線LAN,フリースポット"></head>
<body>
   <form method="post" action="https://www.uspot.jp/help/help_nexentry_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0" id="form1" style="background-color:#FFFFFF" enctype="multipart/form-data">

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>

<script src="UN_files/MsAjaxJs.js" type="text/javascript"></script>
<script src="UN_files/WebFormsJs.js" type="text/javascript"></script>
<script src="UN_files/focus.js" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="045BDC75">
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="W8qzfXjFDwJxLbqAG4F3mClrKvH4/1gsupTyIebjjKmGY7uO2OUE646qOTJ3gpUeGpMm+xYfdhatsTv10G43/sMK59Zfa06/EjXYLtPyc/yINHDsDdMaYGxb6roHS2yNyOcZthE9oonvWuk00/26KqSb8oM7S4ov6G1w47y3CvViRUil">
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ctl09', 'form1', [], [], [], 90, 'ctl00');
//]]>
</script>

       <!--<asp:ScriptReference Name="jquery" /> 2-->
<nav id="rightnav">
    <ul class="list-unstyled main-menu">
        <li class="text-right"><a href="https://www.uspot.jp/help/help_nexentry_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0" id="nav-close" class="navlink">X</a></li>

                    <li id="Btn1"><a id="Button1" class="navlink" href="javascript:__doPostBack(&#x27;ctl00$Button1&#x27;,&#x27;&#x27;)"><span class="icon-ok-sign"></span>利用登録</a></li>
                    <li id="Btn2"><a id="Button2" class="navlink" href="javascript:__doPostBack(&#x27;ctl00$Button2&#x27;,&#x27;&#x27;)"><span class="icon-lock"></span>ログイン</a></li>
                    <li id="BtnH"><a id="HLhome" class="navlink" href="https://www.uspot.jp/user/portal.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0&amp;mkk=&amp;mode=&amp;r="><span class="icon-home"></span>ホーム</a></li>
                   <li class="nav-header">
                   <span id="Repeater1_Lm1_0">接続設定・ご利用方法</span>
                   </li>
                   <li>
                   <a id="Repeater1_HLm1_1" class="navlink" href="https://www.uspot.jp/help/help_iOS_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0">
                   <span class="glyphicon glyphicon-chevron-right"></span>iPhone・iPad</a>
                   </li>
                   <li>
                   <a id="Repeater1_HLm1_2" class="navlink" href="https://www.uspot.jp/help/help_android_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0">
                   <span class="glyphicon glyphicon-chevron-right"></span>Android</a>
                   </li>
                   <li class="nav-header">
                   <span id="Repeater1_Lm1_3">ご利用開始について</span>
                   </li>
                   <li class="active">
                   <a id="Repeater1_HLm1_4" class="navlink" href="https://www.uspot.jp/help/help_nexentry_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0">
                   <span class="glyphicon glyphicon-chevron-right"></span>利用登録マニュアル</a>
                   </li>
                   <li>
                   <a id="Repeater1_HLm1_5" class="navlink" href="https://www.uspot.jp/help/help_nexagreement_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0">
                   <span class="glyphicon glyphicon-chevron-right"></span>利用約款</a>
                   </li>
                   <li>
                   <a id="Repeater1_HLm1_6" class="navlink" href="https://www.uspot.jp/help/help_nexattention_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0">
                   <span class="glyphicon glyphicon-chevron-right"></span>ご利用上の注意事項</a>
                   </li>

    </ul>
</nav>
<div id="wrap" style="background-color:#FFFFFF">
<!--Param -->

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="topnavigation"><!---->
        <div class="container-fluid header">
              <a id="HL1" class="navbar-brand" href="https://www.uspot.jp/user/portal.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0&amp;mkk=&amp;mode=&amp;r="><img id="ImgBrand" class="Brandimg" src="UN_files/oem124.png" align="top"></a>
              <div class="navbar-header pull-right" style="margin-top:3.5px;">
                  <a id="nav-expander" style="margin-right:5px;font-size:15px;text-decoration:none;cursor:pointer;">
                    <img id="ImgUser" class="img-rounded" src="UN_files/UU.png" style="border-style:None;width:38px;">
                  </a>
                </div>
        </div>
    </div>

    <div style="margin-left:10px;margin-right:2px;margin-top:2px;">

    </div>

    <div class="container-fluid bs-docs-container">
       <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">

       <h4>
        <img src="UN_files/glyphicons_194_circle_question_mark.png">
       WIFI新規ご利用登録までの手順								
    </h4>

    <p>初めてご利用になられる方は、以下の手順にて設定をお願いします。<br>
    ※不特定多数の方がご利用になられるサービスですので、セキュリティ対策のためにユーザー様情報をご入力頂いております。予めご了承下さい。</p>

    <b>■登録手順■</b>
    <p>① ご利用機器のWi-Fi機能をONにします。</p>

    <p>② 接続先（SSID）の設定をします。</p>

    <p>③ ブラウザを立ち上げてインターネットに接続します。<br>
	下記画像は一般的なブラウザのアイコンです。</p>
    <img src="UN_files/touroku01_ja.png" alt="" class="mar_b20">

    <p>④ WIFIの画面が表示されますので、画面に従いメールアドレス・パスワード・生年月日・性別入力し、利用規約をお読みになってください。</p>
	<img src="UN_files/touroku02_ja.png" alt="">
	<p>
	1．受信可能なメールアドレスをご入力ください。<br>
	ドメイン部分（＠以降）はプルダウンで選択してください。<br>
	※AndroidOSをご利用の方へ<br>
OSのバージョンやブラウザの違いにより、メール新規登録時のエラーが生じる可能性があるため、共通事項として<span class="red">「ドメイン（＠マーク以降）の選択制」を中止致しております。</span><br>
	お手数ではありますが、メールアドレス全文字のご入力にご協力願います。<br>
	2．プルダウンで生年月日を選択してください。<br>

    3．性別を選択してください。<br>

    4．ご自由に登録名を入力してください。<br>
	5．ご自由に端末登録名を入力してください。<br>
	6．利用約款ご確認後に「同意します」を選択してください。
	</p><br>
    <p>⑤ 項目内の全てにご入力頂くと「確認」ボタンが表示されます。<br>
    「確認」ボタンをクリックして頂くと「登録」ボタンが表示されますのでクリックしてください。</p>
    <img src="UN_files/touroku03_ja.png" alt="" class="mar_tb20"><br><br>
    <p><span class="red">「仮登録完了メール」が届かない場合は、ご入力頂いた「メールアドレスの間違い」が考えられます。</span><br>
   メールアドレス相違の場合は画像の★マークに再入力をお願いします。「メール再送信」ボタンをクリックして頂きますと、ご入力して頂いたメールアドレスに仮登録メールが再度送られてきます。</p>
    <img src="UN_files/touroku04_ja.png" alt="" class="mar_b20">

    <div class="kakomi">
	<p><span class="red">※NTT docomo端末をご利用のユーザー様へお願い</span><br>
    ドコモユーザー様で、<span class="red">「仮登録完了メール」が届かない</span>事例が発生しております。<br>
    原因は<span class="red">Wi-Fi環境における「spモードメール」の仕様に起因する症状</span>となります。<br></p>

    <p>[対処方法]<br>
    Ⅰ 登録受付のメール送信完了後に、一度Wi-Fiを切って頂き３GまたはLTEにてメール受信を行ってください。仮登録メール受信後に再度Wi-Fiに接続願います。<br>
    Ⅱ Wi-Fi環境での「spモードメール利用対応」に関して、事前に「Wi-Fi経由のメール送受信」の設定が「on」になっていることをご確認いただき、「Wi-Fiオプションパスワード」の設定を行ってください。<br>
    ※Wi-Fi環境での「spモードメール利用対応」はspモードメールアプリの「バージョン4000」以降が必要です。</p>
	</div><br>
    <p>⑥ 「仮登録完了メール」に記載の「本登録用URL」をクリックして頂きますと「登録完了」の画面が表示され、登録が完了となります。<br>
    ※尚、「本登録用URL」は「仮登録」状態の15分を経過してしまうと、本登録ができなくなってしまいますのでお気をつけ下さい。</p>
    <img src="UN_files/touroku05_ja.png" alt="" class="mar_b20">
    <p>⑦ ご登録頂きましたメールアドレス宛に「本登録完了」のメールが届きます。<br>
    以上で新規登録までの手順は終了となります。</p>
    <img src="UN_files/touroku06_ja.png" alt="" class="mar_b20">

    <p>全ての手続き完了後、通常通りブラウザを開くと高速インターネットがご利用可能です。<br><br>
    登録に際してご不明な点がございましたらサポートセンターへお問い合わせください。<br>
    <!-- フリーダイヤル：<a dir="ltr" href="tel:0120-773-713" x-apple-data-detectors="true" x-apple-data-detectors-type="telephone" x-apple-data-detectors-result="0">0120-773-713</a>　<br>営業時間：平日<a dir="ltr" href="x-apple-data-detectors://1" x-apple-data-detectors="true" x-apple-data-detectors-type="calendar-event" x-apple-data-detectors-result="1">10:00～20:00</a>　土日祝日<a dir="ltr" href="x-apple-data-detectors://2" x-apple-data-detectors="true" x-apple-data-detectors-type="calendar-event" x-apple-data-detectors-result="2">10:00～17:00</a></p> -->

          </div>
        </div>
    </div>
</div>
<div id="UProgress" style="display:none;" role="status" aria-hidden="true">
<div style="bottom:50px;left:5px">
<img id="Image1" src="UN_files/ajax-loader.gif">
</div>

</div>
<p>

</p>
<p style="margin-top: 20px; display: block;" class="pull-right" id="back-top"><a href="https://www.uspot.jp/help/help_nexentry_ja.aspx?unitname=679237_001&amp;mac=08f69c979e13&amp;inf=wlan0#top" style="color:#1ABC9C;font-size:24px"><span class="glyphicon glyphicon-chevron-up"></span></a></p>

       <div id="PanelFooter">
       <div id="footer">
          <div class="container-fluid">

            <!-- <p style="margin-top:20px;"><img src="UN_files/icon-s-free.gif" style="vertical-align:text-top"> <span id="LbFree"><a dir="ltr" href="tel:0120-773-713" x-apple-data-detectors="true" x-apple-data-detectors-type="telephone" x-apple-data-detectors-result="3">0120-773-713</a></span></p> -->
            <p style="margin-top:20px;"><a id="HLBrand" href="http://www.un.com">Brand by <span id="LbBrand">株式会社UN</span></a></p>

          </div>
        </div>

</div>

       <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Comment</h4>
              </div>
              <div class="modal-body">
                    <p>
                        コメントを書いて下さい
                    </p>
                    <p>
                        <textarea name="ctl00$TextBox1" rows="2" cols="20" id="TextBox1" class="form-control" placeholder="コメントを書いて下さい / Try URL of Youtube. " style="height:100px;width:90%;"></textarea>
                    </p>
                    <p>
                        </p><div class="file">
                        写真/Photo：<input type="file" name="ctl00$FileUpload1" id="FileUpload1">
                        </div>
                    <p></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" name="ctl00$Btn3010" value="Save!" id="Btn3010" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>
    <script src="UN_files/jquery-1.10.2.min.js"></script>
    <script src="UN_files/bootstrap.min.js"></script>
    <script src="UN_files/jquery.navgoco.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#nav-expander').on('click', function (e) {
                e.preventDefault();
                $('body').toggleClass('nav-expanded');
            });
            $('#nav-close').on('click', function (e) {
                e.preventDefault();
                $('body').removeClass('nav-expanded');
            });

            // Initialize navgoco with default options
            $(".main-menu").navgoco({
                caret: '<span class="caret"></span>',
                accordion: false,
                openClass: 'open',
                save: true,
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 300,
                    easing: 'swing'
                }
            });
        });
    </script>
    <script type="text/javascript">

        function pageLoad() {
            var mng = Sys.WebForms.PageRequestManager.getInstance();
            mng.add_initializeRequest(
              function (sender, args) {
                  if (mng.get_isInAsyncPostBack()) {
                      args.set_cancel(true);
                  }
              }
            );
        }
    </script>
      <script type="text/javascript">
          $(document).ready(function () {
              $("#back-top").hide();
              $(window).scroll(function () {
                  if ($(this).scrollTop() > 250) {
                      $('#back-top').fadeIn();
                  } else {
                      $('#back-top').fadeOut();
                  }
              });
              $('#back-top a').click(function () {
                  $('body,html').animate({
                      scrollTop: 0
                  }, 800);
                  return false;
              });
          });
    </script>

<script type="text/javascript">
//<![CDATA[
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":null,"displayAfter":500,"dynamicLayout":true}, null, null, $get("UProgress"));
});
//]]>
</script>
</form>
</body></html>